.heading
{
    font-size: 2em;
    font-weight: 1000;
    color: white;
    padding: 35px 20px;
    text-align: center;
    animation: slide-from-below 1s;

}

.btn
{
    padding: 10px 30px;
    background-color:  rgb(0, 187, 47);
    border-radius: 20px;
    border: none;
    color: white;
    margin: 20px 20px;
    
    transition: 0.6s;
}

.btn:hover
{
    letter-spacing: 2px;
    transform: translateY(-10px);
}

#webcam-container
{
    background: #202020;
    margin: auto;
    width: 200px;
    height: 200px;
    animation: slide-from-below 1s;

    padding: 10px;
}

#label-container
{
    background: #3b3b3b;
    margin: auto;
    width: 250px;
    height: 20px;
    padding: 10px;
    color: white;
    animation: slide-from-below 1s;

}

@media only screen and (max-width: 768px)
{
    .heading{
        font-size: 1.5em;
    }
}